.recents__wrapper {
  .recents {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;

    &__heading,
    &__totalResult {
      font-weight: 700 !important;
    }
  }

  .recents__carousel {
    margin-right: 15px !important;
    cursor: grab !important;
  }
}
