.playlists__wrapper {
  .playlists {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;

    &__heading,
    &__totalResult {
      font-weight: 700 !important;
    }
  }

  .playlists__carousel {
    margin-right: 15px;
    cursor: grab !important;
  }
}
