.playlist__wrapper {
  .playlist {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;

    &__heading,
    &__totalResult {
      font-weight: 700 !important;
    }
  }

  .playlist__card {
    .playlist__cardContent {
      .cardContent__title {
        line-height: 24px !important;
      }

      .cardContent__info {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;

        .cardContent__subInfo {
          display: flex !important;
          align-items: center !important;

          .subInfo__icon {
            margin-right: 5px !important;
          }

          .subInfo__icon,
          .subInfo__title {
            color: #595959 !important;
            font-weight: 500 !important;
            word-spacing: -2px !important;
          }
        }

        .cardContent__ongoing {
          background: #0ea5a01a !important;
          color: #0ea5a0 !important;
          font-weight: 500 !important;
          padding: 1px 14px !important;
          border-radius: 4px !important;
        }
      }
    }
  }
}
