.playlist__card {
  .playlist__cardMedia {
    position: relative !important;

    .playlist__cardThumbnail {
      object-fit: cover !important;
      filter: blur(1px) brightness(70%) !important;
      -webkit-filter: blur(1px) brightness(70%) !important;
      -moz-filter: blur(1px) brightness(70%) !important;
    }

    .playlist__card__playIcon {
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
      color: #ffffffdf !important;
      font-size: 4rem !important;
    }

    .card__iconsWrapper {
      position: absolute !important;
      top: 0 !important;
      right: 0 !important;
    }
  }

  .playlist__cardContent {
    .cardContent__title {
      line-height: 24px !important;
    }

    .cardContent__info {
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;

      .link {
        text-decoration: none !important;
      }

      .cardContent__subInfo {
        display: flex !important;
        align-items: center !important;

        .subInfo__icon {
          margin-right: 5px !important;
        }

        .subInfo__icon,
        .subInfo__title {
          color: #595959 !important;
          font-weight: 500 !important;
          word-spacing: -2px !important;
        }
      }

      .cardContent__ongoing {
        background: #0ea5a01a !important;
        color: #0ea5a0 !important;
        font-weight: 500 !important;
        padding: 1px 14px !important;
        border-radius: 4px !important;
      }
    }
  }

  .link {
    text-decoration: none !important;
  }

  .cardContent__btn {
    text-transform: capitalize !important;
    background: #0ea5a0 !important;
    margin-top: 15px !important;
    box-shadow: none !important;

    &:hover {
      background: #0ea5a0e7 !important;
    }
  }
}
