.dialog {
  &__title {
    font-family: 'Dank Mono' !important;
    font-weight: 700 !important;
    color: #0ea5a0 !important;
  }

  &__btn {
     font-family: 'Dank Mono' !important;
    font-weight: 700 !important;
    background: #0ea5a0 !important;
    color: #fff !important;
    text-transform: capitalize !important;
    box-shadow: none !important;

    &:disabled {
      background: #0ea5a0ab !important;
    }
  }
}
